@import "pages/home";
.container {

}

header {
  .toolbar {
    background: linear-gradient(90deg,#134bb3,#4ab3de);
  }
}

.sidebar {
  .toolbar {
    background: linear-gradient(90deg,#134bb3,#3185cb);
  }
}

footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

a, a:hover, a:focus, a:visited
{
  color: #41B883;
}

.logo {
  width: 243px;
  height: 218px;
}

.page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}
