@import "typography";
@import "utility";
@import "pages/home";
@import "pages/quiz";

.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


header {
  .toolbar {
    background: linear-gradient(90deg,#134bb3,#4ab3de);
  }
}

.sidebar {
  .toolbar {
    background: linear-gradient(90deg,#134bb3,#3185cb);
  }
}

.content {
  padding-top: 2rem;
}

footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}



.logo {
  width: 243px;
  height: 218px;
}

// Page transition
.page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}
