.index-page{

   header {
    width: 100%;
    position: fixed;
    z-index: 97;

     .toolbar {
       background: transparent;
       box-shadow: none;
     }
  }
  .main-banner {
    background: url(~assets/img/cosmos.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 9rem 0;
    position: relative;

  }
}

.index-page.with.top-toolbar main>.content {
  padding-top: 0;
}
